* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
.blurr {
    opacity: 0.4;
}
iframe {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0 none;
}
.iframe-wrapper {
    position: absolute;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}
#edit-profile-overlay {
    position: fixed;
    z-index: 9999;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
}
#open-card-overlay {
    position: fixed;
    z-index: 9999;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: calc(50% - 50px);
}
#edit-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
}
#edit-profile-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#bottom-menu {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding-bottom: 30px;
}
.bottom-menu-item {
    float: left;
    width: 20%;
    padding: 10px 0 5px;
    box-sizing: border-box;
    text-align: center;
}
.bottom-menu-item img {
    width: 33%;
    max-width: 28px;
}
.leaf{
    position:absolute ;
    width:100%;
    height:calc(100% - 200px);
    top:0;
    left:0;
    opacity: 0.5;
    margin: 100px 0;
    overflow: hidden;
}
.leaf div{
    position:absolute ;
    display:block ;
}
.leaf div:nth-child(1){
    left:20%; 
    --topStart: -10%;
    --topEnd: 110%;
    --leftStart: -20%;
    --leftEnd: 100%;
    animation:fall 40s linear infinite ;
    animation-delay:-2s;

}
.leaf div:nth-child(2){
    left:70%; 
    --topStart: 5%;
    --topEnd: 5%;
    --leftStart: -10%;
    --leftEnd: 110%;
    animation:fall 40s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(3){
    left:10%; 
    --topStart: 90%;
    --topEnd: 90%;
    --leftStart: 110%;
    --leftEnd: -10%;
    animation:fall 40s linear infinite ;
    animation-delay:-7s;
    
}
.leaf div:nth-child(4){
    left:50%; 
    --topStart: -10%;
    --topEnd: 110%;
    --leftStart: -10%;
    --leftEnd: 110%;
   animation:fall 40s linear infinite ; 
   animation-delay:-5s;
}
.leaf div:nth-child(5){
    left:5%; 
    --topStart: -10%;
    --topEnd: 110%;
    --leftStart: 5%;
    --leftEnd: 5%;
    animation:fall 40s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(6){
    left:80%; 
    --topStart: -10%;
    --topEnd: 110%;
    --leftStart: 80%;
    --leftEnd: 80%;
    animation:fall 40s linear infinite ;
    animation-delay:0s;
}
.leaf div:nth-child(7){
    left:90%; 
    --topStart: 110%;
    --topEnd: -10%;
    --leftStart: 110%;
    --leftEnd: -10%;
    animation:fall 40s linear infinite;
    animation-delay:-5s;
}
@keyframes fall{
    0%{
        opacity:1;
        top:var(--topStart);
        left:var(--leftStart);
    }
    100%{
        top:var(--topEnd);
        left:var(--leftEnd);
    }
}
#open-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    padding-top: 80px;
    box-sizing: border-box;
    color: #fff;
}
#open-card-close {
    position: absolute;
    left: 25px;
    bottom: 50px;
    font-size: 20px;
}
#open-card-qr {
    position: absolute;
    right: 70px;
    bottom: 50px;
}
#open-card-refresh {
    position: absolute;
    right: 25px;
    bottom: 50px;
}
.card-wrapper {
    position: relative;
    width: 400px;
    height: 635px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front img, .flip-card-back img {
    width: 400px;
    height: 635px;
    border-radius: 16px;
}
.flip-card-back {
    transform: rotateY(180deg);
}
.card-info {
    transform: rotate(90deg);
    color: #000;
    position: absolute;
    left: calc(50% - 65px);
    top: 60px;
    text-align: left;
    font-size: 15px;
    font-smooth: 3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#card1-number, #card2-number {
    font-size: 10px;
}
.card-wrapper-ios {
    width: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.card-carousel {
    width: 420px;
    padding: 0 5px;
    height: 635px;
    margin: 0 auto;
}
.slick-dots li button::before {
    z-index: -1;
    opacity: 1;
    font-size: 32px;
    color: #000;
    transition: all 0.6s;
}
.slick-dots li.slick-active button::before {
    opacity: 1;
    color: #fff;
}
.slick-dots li button {
    width: 32px;
    font-size: 16px;
    color: #fff;
    transition: all 0.6s;
    padding-top: 0px;
    margin-top: -1px;
}
.slick-dots li.slick-active button {
    color: #000;
}
.slick-dots {
    bottom: -80px;
}
